body {
    font-family: sans-serif;
}

#doc-img {
    height: 40%;
    width: 40%;
    float: left;
    position: relative;
    padding-top: 0;
    padding-right: 20;
    margin-left: auto;
    margin-right: auto;

}

#hole-virtual{
    color: red
}

#hole-phy{
    color: yellow
}

#cls{
    color: blue
}

#bl{
    color: maroon
}

#pd {
    color: darkgreen
}

#pb {
    color: lime
}

#cc {
    color: darkorchid
}

#lm {
    color: magenta
}

#pic {
    color: brown
}