<!DOCTYPE html>
<html>
    <head>
        <title>Bookmarked</title>
        <link rel = "icon" href =  "{{ url_for('static',filename='img/l.png') }}" type = "image/x-icon"> 
        <!--css-->
        <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
    <!--end of css-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    </head>
    <body background="{{ url_for('static',filename='img/bg.png') }}" style="background-size: cover;font-family:'Courier New', Courier, monospace ">
            <section id="inner-headline" style="background: rgba(0,0,0,0.8)">
                    <div class="container">
                      <div class="row">
                        <div>
                          <div class="inner-heading">
                            <h2>Bookmarked Images</h2>
                          </div>
                        </div>
                        <div class="span8">
                          <ul class="breadcrumb" style="background-color: #252525">
                            <li><a href="{{ url_for('viewer') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                            <li><a href="{{ url_for('unann') }}">Unannotated</a><i class="icon-angle-right"></i></li>
                            <li><a href="#"><b>Bookmarked</b></a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                <section style="background: rgba(0,0,0,0)">
                    <h2 style="color: rgba(239, 244, 248);text-align: center">Gallery Viewer</h2>
                    <p style="color: rgba(239, 244, 248);text-align: center">This shows all the bookmarked images for priority
                    annotation.All bookmarks can be removed by clicking the button below.</p>
                </section>
                <section>
                  <div style="display: inline-block;width:41%"></div>
                  <button type="button" class="btn" style="background-color:#252525;color:cornsilk;
                  display: inline-block;" onclick="remove()">Remove all Bookmarks</button>
                </section>
                <div class="alert alert-info alert-dismissible" id = "faded" style="display: none;max-width:600px;">
                    All images are removed from bookmarked list.
            </div>
          <section style="background: rgba(0,0,0,0.55)">
            <div style='width:100%;height:400px;position: relative;'>
              <img src = '{{rows[0][0]}}' id="ann" alt = "Corrupted Image" style="position:relative;min-height:25%;max-width:1000px;max-height:75%;left:15%;top:15%"/>
              <a onclick="prev()" data-toggle="tooltip" title="Previous"><span class="font-icon-arrow-simple-left-circle" style="font-size:40px;position: absolute; top:50%;left:8px;color:#66fcf1"></span></a>
              <a onclick="next()" data-toggle="tooltip" title="Next"><span class="font-icon-arrow-simple-right-circle" style="font-size:40px;position: absolute; top:50%;right:8px;color:#66fcf1"></span></a>
              <a onclick="first()" data-toggle="tooltip" title="Go to First"><span class="icon-double-angle-left" style="font-size:40px;position: absolute; top:89%;left:8px;color:#66fcf1"></span></a>
              <a onclick="last()" data-toggle="tooltip" title="Go to Last"><span class="icon-double-angle-right" style="font-size:40px;position: absolute; top:89%;right:8px;color:#66fcf1"></span></a>
            </div>
        </section>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://10.5.0.142:20000/');
        var rows = {{rows|tojson|safe}};
        var i = 0;  
        socket.on('connect', function() {
            socket.emit('myevent','I\'m connected!');
        });
        function remove()
        {
          socket.emit('remove');
          var d= document.getElementById('faded');
                d.style.display = 'inline-block';
          var e = document.getElementById('ann');
          e.style.display = 'none';
        }
        function last()
        {
            i = rows.length - 1;
            var d = document.getElementById("ann");
            d.src = rows[i][0];
        }
        function first()
        {
            i = 0;
            var d = document.getElementById("ann");
            d.src = rows[i][0];
        }
        function prev()
        {
            if (i > 0) {
            i = i - 1;
            }
            var d = document.getElementById("ann");
            d.src = rows[i][0];
        }
        function next()
        {
            if(i < rows.length)
            {
            i = i + 1;
            }
            var d = document.getElementById("ann");
            d.src = rows[i][0];
            // console.log(d.src);
        }
        $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body> 
</html>
