<!DOCTYPE html>
<html>
<head>
    <!--css-->
    <link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
<!--end of css-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</head>
<body>
        <div class="button"><a href="{{url_for('ann')}}" data-toggle="tooltip" title="Home"><button class="btn btn-large btn-info ">Go to Home</button></a></div>
 </body>